<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Tic Tac Toe</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<h1>Tic Tac Toe</h1>

<h3>
    Current Player :
    <span th:text="${game.currentPlayer.name}"></span>
</h3>

<h4>
    Status :
    <span th:text="${game.status}"></span>
</h4>

<div class="board">

    <th:block th:each="row,rowStat : ${game.board.grid}">
        <th:block th:each="cell,colStat : ${row}">

            <div class="cell-wrapper">

                <form th:action="@{/play/{id}/move(id=${gameId})}"
                      method="post">

                    <input type="hidden"
                           name="row"
                           th:value="${rowStat.index}"/>

                    <input type="hidden"
                           name="col"
                           th:value="${colStat.index}"/>

                    <button class="cell"
                            type="submit"
                            th:text="${cell.symbol.displayChar}">
                    </button>

                </form>

            </div>

        </th:block>
    </th:block>

</div>
</body>
</html>